<div{{ attributes }}>
  <h2 class="event"> DrupalSouth Auchland</h2>
  <a href="/load-event-detail" class="use-ajax">Click here to load event detail</a>
  <div class="event__date">{{date}}</div>
  <div class="event__place">{{place}}</div>
  <div class="event__audience">{{audience}}</div>
</div>
